/* 
* @Author: DELL
* @Date:   2018-03-31 10:38:03
* @Last Modified by:   DELL
* @Last Modified time: 2018-04-05 15:30:41
*/
@charset "utf-8";
.head{

	height: 60px;
	background: #F5F5F5;
}
h1 img{

	float: left;
	margin-top: 19px;
}
.d1{

	float: left;
	margin-left: 178px;
	margin-right: 58px;
	margin-top: 10px;
}
.p1{

	float: left;
	width: 228px;
	height: 36px;
	border:2px solid #ccc;
}

.d1 a{

	width: 88px;
	height: 36px;
	background-color: #2683D8;
	display: inline-block;
	border:2px solid #1A68CB;
	background: url(../imges/sou.png) no-repeat left center;
	
}
.p2{

	float: left;
	margin-top: 19px;


}

.p2 a{

	color:#5F5F5F;
	background: url(../imges/bg1.png) no-repeat left center;
	margin-right: 18px;
}

.p2 span{

	margin-left: 20px;

}
.nav{
	height: 28px;
	border-bottom: 1px solid #ccc;
	margin-top: 27px;
}
.nav a{

	color:#000;
	height: 27px;
	display: inline-block;
}	
 .sy{

	font-size: 16px;
	margin-right: 22px;
}
.nav a:hover{
	
	color:#82D2EF;
	border-bottom:2px solid #82D2EF;
}
.zx{

	margin-right: 17px;
	font-size: 14px;
}
.gr1{

	margin-left: 76px;

}
.gr1,.gr{

	font-size: 14px;
}
.gr{

	margin-left: 10px;
}
.main_top,.content_bom{

	height: 240px;
	width: 641px;
	margin-top: 20px;
}
.main_top .p1,.content_bom .p1{

	width: 420px;
	height: 240px;
	position: relative;
	float: left;
}
.main_top .p1 span,.content_bom .p1 span{

	display: inline-block;
	background: url(../imges/yk.png) no-repeat 8px center;
	width: 348px;
	height: 89px;
	position: absolute;
	left: 0;top:151px;
	background-color:#676767;
	background-color: rgba(0,0 ,0, 0.1);
	color:#fff;
	font-size: 16px;
	padding-left: 72px;
}
.p1 em{

	background: url(../imges/bg4.png) no-repeat left center;
	padding-left: 16px;
	margin-right: 8px;
	display: inline-block;
	font-size: 12px;
}
.p1 strong{
	margin-right: 39px;
	display: inline-block;
	margin-top: 32px;
}
.main_left{

	width: 641px;
	float: left;
}
.main_top .p3 ,.content_bom .p3{
	float: right;
}
.main_top .d2,.d3,.content_bom .d2,.d3{

	width: 200px;
	height: 110px;
	position: relative;
	float: right;
}
.main_top .d2 span,.content_bom .d2 span{
    width: 200px;
	height: 18px;
	display: inline-block;
	position: absolute;
	left:0; bottom :0;
	background-color:#72716F;
	background-color: rgba(0,0,0,.2); 
	color:#fff;
	font-size: 14px;
	padding-top: 22px
	;
}

.main_top .d3,.content_bom .d3{

	margin-top: 20px;
}
.main_top .d3 .s2 ,.content_bom .d3 .s2 {
   
     width: 200px;
    height: 110px;
	display: inline-block;
	position: absolute;
	left:0; bottom :0;
	background-color:#72716F;
	background-color: rgba(0,0,0,.2); 
	color:#fff;
	font-size: 14px;
}
.main_top .d3 .s2 i,.content_bom .d3 .s2 i{

	margin-top: 11px;
	display: inline-block;
	margin-left: 6px;
	margin-right: 26px;
	font-size: 14px;
}
.main_top .d3 .s2 strong,.content_bom .d3 .s2 strong{

	margin-left: 6px;
	font-size: 12px;
	margin-right: 26px;
}
.main_top .d3 .s2 .e2,.content_bom .d3 .s2 .e2{

	background:url(../imges/bg4.png) no-repeat left center;
	padding-left:17px;
	font-size: 12px;
}
.main_top .d3 .s2 .e1,.content_bom .d3 .s2 .e1{

	background: url(../imges/bg4.png)no-repeat left center;
	padding-left: 17px;
	font-size: 14px;
	margin-left: 6px;
}
.main_top .d3 .s2 .s1,.content_bom .d3 .s2 .s1{


	display: block;
	width: 57px;
	height: 24px;
	background: #2D8DDA;
	color:#fff;
	text-align: center;
	font-size: 14px;
	margin-left: 6px;
	margin-top: 8px;
}
.main_bottom{
	width: 641px;
	float: left;
}
.main_bottom p{

	width: 200px;
	height: 110px;
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}
.main_bottom p span{

	display: inline-block;
	width: 192px;
	position: absolute;
	left:0;bottom:0;
	background-color: #969696;
	background-color: rgba(0,0,0,0.2);
	font-size: 14px;
	color:#fff;
	padding-top: 12px;
	padding-left: 8px;
}
 .main_bottom .pp{

	margin-right: 0;
}
.main_right img{

float: right;
margin-top: 20px;
}
 .Cleft{
	float: left;
	width: 880px;
}
.Ctop{
	margin-top: 50px;
}
.Ctop h5,.content_top h5{

font-size: 26px;
color: #8F8F8F;
float: left;
margin-right: 20px;
}
.Ctop a,.content_top a{

	float: left;
	color: #000;
	margin-right: 21px;
	
}
.Ctop .active,.content_top .active{

	display: inline-block;
	padding: 8px 16px;
	background: #05A6E0;
	color:#fff;
	margin-right:10px;
}
.Cbottom li{

	float: left;
	margin-right: 20px;

}
.Cbottom .u1{

	width: 200px;
	height: 110px;
	position: relative;
	margin-top: 20px;
}
.Cbottom .u1 span{

	width: 200px;
	height: 40px;
	display: inline-block;
	background-color: #ccc;
	background-color: rgba(0,0,0,0.0);
	position: absolute;
	right: 0; bottom: 0;
	color: #fff;
}
.Cbottom .u1 span em{

	margin-left: 133px;
	margin-top: 20px;
	display: inline-block;
}
.Cbottom .u2 , .u3{
	width: 200px;
	margin-top: 8px;
}
.Cbottom .u3{

	font-size: 12px;
	color:#ccc
}
.Cright img{
	float: right;
	margin-top: 100px;
}
.c_center_top a{

	font-size: 20px;
	color:#535353;
	margin-top: 60px;
	margin-right: 22px;
}
.c_center_top .active{

	display: inline-block;
	padding: 5px 19px 10px 19px;
	color:#fff;
	background-color: #05A6E0;
}
.c_center_bottom li,.cot4_r li{
	margin-top: 20px;
	float: left;
	margin-right: 20px;
}
.c_center_bottom li .l1,.cot4_r li .l1{

	width: 200px;
	height: 127px;
	position: relative;
}
.c_center_bottom li .l1 span,.cot4_r li .l1 span{

	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 5px; top: 97px;
}
.c_center_bottom li .l1 em,.cot4_r li .l1 em{

	margin-left: 43px;
	font-size: 12px;

}
.c_center_bottom li .l2,.cot4_r li .l2{

	margin-top: 5px;
	font-size: 14px;
	color: #000;
}
.c_center_bottom li .l3,.cot4_r li .l3{

	background: url(../imges/bg4.png)no-repeat left center;
	padding-left: 15px;
}
.c_center_bottom .img{

	margin-top: 40px;
}
.c_center_left{


	float: left;
}
.c_center_right{

	margin-top: 120px;
	float: left;
}
.c_center_right li{
	margin-bottom: 16px;
}
.c_center_right li p{

	display: inline-block;
	font-size: 20px;
	color:#696969;
}.content_lt{

	float: left;
	width: 650px;
}
.content_rt{

	float: left;
	margin-left: 15px;
}
.content_rt_top{

	line-height: 30px;

}
.content_rt_top a{

	float: left;
	color: #000;
	margin-right: 21px;
	
}
.content_top{

	margin-top: 50px;
}
.content_rt_top{
	margin-top: 40px;
}
.content_rt_top .active{

	display: inline-block;
	padding: 8px 16px;
	background: #05A6E0;
	color:#fff;
	margin-right:10px;
}
.content_rt_cr ul,.content_rt_cr ol{
	margin-top: 20px;
}
.content_rt_cr  li{

	margin-bottom: 10px;
	font-size: 14px;

}
.content_rt_cr  li span{

	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: #EE3E21;
	color:#fff;
	margin-right: 10px;
}
.content_rt_cr .long span{
   background:#02A6E0;

}
.content_rt_cr ul{

	float: left;
}
.content_rt_cr ol{

	float: left;
	margin-left: 70px;
}
.t_top span{
	
	margin-right: 15px;
	
	display: inline-block;

}
.c_cer img{

	margin-top: 18px;
}
.bbom{
	margin-top: 20px;
}
.bbom h5{
float: left;
}
.bbom p img{
	margin-bottom: 10px;

}
.bbom .jeep{

	float: left;
	margin-left: 5px;
}
.cot_t{
	margin-bottom: 23px;
	height: 30px;
	margin-top: 50px;
}
.cot_t h5{

font-size: 26px;
color: #8F8F8F;
float: left;
margin-right: 20px;
}
.cot_t a{

	float: left;
	color: #000;
	margin-right: 21px;
	
}
.cot_t .active{

	display: inline-block;
	padding: 8px 16px;
	background: #05A6E0;
	color:#fff;
	margin-right:10px;
}
.cot .ll{
	float: left;
	width: 641px;
}
.cot .content_rt_cr{

	float: left;
}
.cot .bbm{
	float: left;
	
	margin-left: 20px;
}
.cot2 .cot_l{
	margin-top: 50px;
	width: 641px;
	float: left;
}
.cot2 .cot_l h5{

   font-size: 26px;
   color: #8F8F8F;
   float: left;
   margin-right: 20px;
}
.cot2 .cot_l a{
	float: left;
	color: #000;
	margin-right: 21px;
}
.cot2 .cot_l .active{
	display: inline-block;
	padding: 8px 16px;
	background: #05A6E0;
	color:#fff;
	margin-right:10px;
}
.cot2 .cot_l p{

	float: left;
	margin-top: 18px;
}
.cot2 .cot_l p img{

	margin-right: 15px;
}
.cot2 .cot_l p .sc{

	margin-right: 0;
}
.cot_r{
	float: left;
	margin-left: 20px;
}
.cot_r a{

	display: inline-block;
	padding: 10px;
	background-color: #05A6E0;
	font-size: 14px;
	color: #fff;
	margin-top: 43px;

}
.cot_r ul li {

	float: left;
	margin-top: 20px;
	margin-right: 17px;
	padding-top: 9px;
}
.cot3{
	height: 543px;
}
.cot3_l{
	margin-top: 50px;
}
.cot3_l h5,.cot4_left h5{
	font-size: 26px;
color: #8F8F8F;
float: left;
margin-right: 20px;
}
.cot3_l a,.cot4_left a{

	float: left;
	color: #000;
	margin-right: 21px;
	
}
.cot3_l .active, .cot4_left .active{

	display: inline-block;
	padding: 8px 16px;
	background: #05A6E0;
	color:#fff;
	margin-right:10px;
}

.cot3_l h6 img{

	margin-top: 40px;
}
.cot3_l{
	float: left;
	width: 649px;
}
.cot3_r{
	float: right;
}
.cot3_r ul,ol{

	float: none;
}
.cot3_r ol{

	float: none;
	margin-left: 0;
	margin-top: 0;
}
.cot3_r li em{

	margin-left: 60px;
	color:#ccc;
}
.xia p{
	margin-bottom: 8px;
}
.xia span{
	display: inline-block;
	width: 141px;
	font-size: 14px;
}
.cot4_left{
	margin-top: 50px;
	width: 649px;
}
.cot4_r ul{

	width: 641px;
	float: left;
	} 

.cot4_r .sc{

	margin-right: 0;
}
.cot4_r{

	float: left;
}
.cot4_rr{

	float: left;
}
.cot4_rr .c_center_right{

	margin-top:108px;
	margin-left: 20px;
	
}
.cot4_rr .c_center_right li p{

	font-size: 14px;
}
.cot5_l{
	float: left;
}
.cot5_r{
	float: left;
}
.cot5_t .content_rt_top{
	margin-bottom: 20px;
}
.cot5_b li{
	float: left;
	margin-right: 20px;
}
.cot5_b li .tainwang{
	margin-top: 8px;
}
.cot5_b li p{

	font-size: 14px;
}
.cot5_b li .emo span,em{

	background: url(../imges/bg3.png)no-repeat left center;
	padding-left: 21px;
}
.cot6_l{
	width: 678px;
	float: left;
}
.cot_lt a{

	color:#ccc;
	font-size: 26px;
	margin-right: 168px;
}
.cot6_lb img{
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}
.cot6_r{
	float: left;
}
.cot6_rt h6{

	font-size: 26px;
	color:#ccc;
	margin-right: 21px;
	display: inline-block;
}
.cot6_rt a{

	height: 30px;
	display: inline-block;
	line-height: 30px;
	color:#000;

}
.cot6_rt .active{

	width: 62px;
	height: 30px;
	text-align: center;
	color:#fff;
	background: #05A6E0;
}
.cot6_rb{

	margin-top: 8px;
}
.cot6_rb img{

	margin-bottom: 10px;
}
.cot7{
	margin-top: 40px;
}
.cot7_rt a{

	font-size: 26px;
	color:#ccc;
	margin-bottom: 8px;
	display: inline-block;
}
.cot7_rb span {

	float: left;
	margin-right: 15px;
	margin-bottom: 25px;

}
.cot7_rb span h6{

	font-size: 12px;
	margin-top: 10px;
}
.cot8{
	margin-top: 40px;
}

.cot8_lb{
	float: left;
}
.cot8_lt a{

	font-size: 26px;
	color:#ccc;
	margin-bottom: 8px;
	display: inline-block;
}
.cot8_rt{
	
	margin-left: 22px;
}
.cot8_l{
	float: left;
}
.cot8_r{
	float: left;
}
.cot8_rb{
	width: 340px;
	margin-top: 20px;
}
.cot8_rb img{

  margin-right: 20px;
   margin-top: 20px;
}
.cot_9{

	margin: 50px 0;
	border-bottom: 4px solid #ccc;
	padding-bottom: 10px;
}
.footer ul li p{
	margin-top: 16px;
}
.footer  ul li{

	float: left;
	font-size: 12px;
	margin-right:20px;
	margin-top: -40px;
}
.footer ul li a{

		color:#000;
		margin-right: 6px;
}
.footer ol li{

	float: left;
	margin-top: 50px;
	font-size: 12px;
	margin-right: 50px;
}
.footer ol li p{

	margin-top: 8px;
}
.footer ol li p span{

	color:#ccc;
}
.footer .ban{

	text-align: center;
	clear: #ccc;
	margin-top: 50px;
	font-size: 12px;
}
.footer .ban span{

	font-weight: bold;
	color: #000;
}
